body {

    .container {
        text-align: center;

        .time {
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            font-size: 4em;
            font-weight: 800;

            span {
                
                &.hours {

                }

                &.minutes {

                }

                &.seconds {
                    font-size: .5em;
                }
            }
        }

        .date {

            span {

            }
        }
    }
}