/*
 Core Styles
 * * * * * *  * * * * * * * * * */

body {
    font-family: 'din', 'helvetica neue', 'helvetica', 'arial', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 0, 1.0) url(../img/bg1.png) 50% 0 no-repeat;

    .container {
        background: rgba(0, 0, 0, .01) url(../img/grid.png) 0 0 repeat;
        margin: 2em auto;

        .scaletype {
            display: inline-block;
        }

        .time {
            // font-size: 11em;
            line-height: .85em;
        }

        .date {
            // font-size: 7.6em;
        }

        .serverstatus {

            .label {
                // font-size: 4.45em;
            }

            .value {
                // font-size: 12.8em;
            }
        }

        .kills {

        }

        .industry {

        }
    }
}

/*
 Mixins, Vars, Other
 * * * * * *  * * * * * * * * * */

@font-face { font-family: din; src: url(din.woff); } 