/*
 Core Styles
 * * * * * * * * * * * * * * * */
body {
  font-family: 'din', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background: #000000 url(../img/bg2.png) 50% 0 no-repeat;
}
body .warning {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  visibility: hidden;
  color: red;
  opacity: .5;
}
body .container {
  margin: 0 auto;
  padding-top: 2em;
}
body .container .scaletype {
  display: inline-block;
}
body .container .alpha,
body .container .omega {
  text-align: right;
}
body .container .row {
  margin-bottom: 0;
}
body .container .row .block {
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.4);
}
body .container .row .block .label {
  font-weight: 500;
  font-size: 20px;
}
body .container .row .block .value {
  font-size: 72px;
  line-height: 1.1;
}
body .container .row .block.datetime {
  position: relative;
}
body .container .row .block.datetime .time {
  margin-right: 20px;
}
body .container .row .block.datetime .date {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  top: 71px;
  right: -2px;
}
body .container .row .block.datetime .date .year {
  display: none;
}
body .container .row .block.support,
body .container .row .block.credits {
  text-align: right;
  font-weight: 500;
}
body .container .row .block.support a,
body .container .row .block.credits a {
  color: #fff;
  text-decoration: none;
}
body .container .row .block.support a:last-of-type,
body .container .row .block.credits a:last-of-type {
  padding-right: 0;
}
body .container .row .block.support a {
  padding-right: 10px;
}
/*
 Mobile Styles
 * * * * * * * * * * * * * * * */
/*
 Mixins, Vars, Other
 * * * * * * * * * * * * * * * */
@font-face {
  font-family: din;
  src: url(din.woff);
}
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
