/* Styles
================================================== */
body {
  position: relative;
  background: transparent url(../img/bg-space-gray.jpg) 0 0 repeat fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Rubik', Arial, serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
body:before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(30, 30, 30, 0.8), #1e1e1e);
  background-attachment: fixed;
}
a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #34495e;
}
div#content {
  display: flex;
}
div#content section {
  padding: 50px;
}
div#content section#status {
  flex-basis: 30%;
}
div#content section#market {
  flex-basis: 40%;
}
div#content section#incursions {
  flex-basis: 30%;
}
div#content section h1,
div#content section h2,
div#content section h3 {
  text-transform: uppercase;
}
div#content section h1 {
  font-size: 48px;
  font-weight: 500;
}
div#content section h2 {
  font-size: 24px;
  font-weight: 400;
}
div#content section h2 span {
  font-size: 12px;
}
div#content section h3 {
  font-size: 18px;
  font-weight: 400;
}
div#content section#status .time h2 {
  text-align: left;
}
div#content section#status .time .timer {
  display: flex;
  align-items: center;
}
div#content section#status .time .timer svg {
  display: block;
  width: 32px;
  height: 32px;
}
div#content section#status .time .timer .bg {
  opacity: 0.2;
}
div#content section#status .time .timer .fg {
  opacity: 0.8;
}
div#content section#status .time .timer.waiting .fg {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: timeranimation 60s linear normal infinite;
}
@keyframes timeranimation {
  from {
    stroke-dashoffset: 250;
  }
  to {
    stroke-dashoffset: 0;
  }
}
div#content section#status .time .timer .helper {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  opacity: 0;
  transition: opacity 0.5s;
}
div#content section#status .time .timer svg:hover + .helper {
  opacity: 0.3;
}
div#content section#market .marketitem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
div#content section#market .marketitem .info .typename {
  font-size: 24px;
  text-transform: uppercase;
}
div#content section#market .marketitem .info .averageprice {
  display: flex;
  align-items: center;
}
div#content section#market .marketitem .info .averageprice .value {
  margin-right: 20px;
}
div#content section#market .marketitem .info .averageprice .changeindicator {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}
div#content section#market .marketitem .info .averageprice .changeindicator.negative {
  fill: #27ae60;
}
div#content section#market .marketitem .info .averageprice .changeindicator.negative {
  fill: #c0392b;
}
div#content section#market .marketitem .info .averageprice .changevalue {
  font-size: 14px;
}
div#content section#market .marketitem .info .averageprice .changevalue.negative {
  color: #27ae60;
}
div#content section#market .marketitem .info .averageprice .changevalue.negative {
  color: #c0392b;
}
div#content section#market .marketitem .chartwrapper {
  height: 100px;
}
div#content section#incursions .incursionitem {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
div#content section#incursions .incursionitem .boss {
  width: 32px;
  height: 32px;
  background: transparent url(../img/skull-a.svg) 0 0 no-repeat;
  background-size: 32px 32px;
  margin-right: 20px;
  opacity: 0.1;
}
div#content section#incursions .incursionitem .boss.true {
  opacity: 1;
}
div#content section#incursions .incursionitem .info span {
  text-transform: capitalize;
}
div#content section#incursions .incursionitem .info span.established {
  color: #27ae60;
}
div#content section#incursions .incursionitem .info span.mobilizing {
  color: #d35400;
}
div#content section#incursions .incursionitem .info span.withdrawing {
  color: #c0392b;
}
div#content section#systemjumps .systemjumpsitem:nth-of-type(1) div[data-chart="bar"] .bar {
  background-color: #27ae60;
}
div#content section#systemjumps .systemjumpsitem:nth-of-type(2) div[data-chart="bar"] .bar {
  background-color: #2ecc71;
}
div#content section#systemjumps .systemjumpsitem:nth-of-type(3) div[data-chart="bar"] .bar {
  background-color: #1abc9c;
}
div#content section#systemkills .systemkillsitem:nth-of-type(1) div[data-chart="bar"] .bar {
  background-color: #c0392b;
}
div#content section#systemkills .systemkillsitem:nth-of-type(2) div[data-chart="bar"] .bar {
  background-color: #d35400;
}
div#content section#systemkills .systemkillsitem:nth-of-type(3) div[data-chart="bar"] .bar {
  background-color: #e67e22;
}
div#content section#factions .factionitem.caldari div[data-chart="bar"] .bar {
  background-color: #34495e;
}
div#content section#factions .factionitem.minmatar div[data-chart="bar"] .bar {
  background-color: #34495e;
}
div#content section#factions .factionitem.amarr div[data-chart="bar"] .bar {
  background-color: #34495e;
}
div#content section#factions .factionitem.gallente div[data-chart="bar"] .bar {
  background-color: #34495e;
}
div[data-chart="bar"] {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
div[data-chart="bar"] div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div[data-chart="bar"] div.text {
  z-index: 2;
  padding: 0 10px;
}
div[data-chart="bar"] div.text span {
  font-size: 12px;
  opacity: 0.5;
}
div[data-chart="bar"] div.bar {
  z-index: 1;
}
footer {
  padding: 50px;
}
/* Vars and Mixins
================================================== */
.thinfont {
  -webkit-font-smoothing: antialiased;
}
.valignmiddle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
