<div>
    <div class="info">
        <div class="typename">{{ item.typename }}</div>
        <div class="averageprice">
            <div class="value">{{ item.avgprice | humanizenumber }}</div>
            <svg class="changeindicator" viewbox="0 0 10 10" ng-class="{'negative': item.avgchange < 0}">
                <path class="bg" d="M0 10 L5 0 L10 10 L0 10" fill="#fff" stroke-width="8" stroke="none" />
            </svg>
            <div class="changevalue" ng-class="{'negative': item.avgchange < 0}">{{ item.avgchange | humanizenumber }}</div>
        </div>
    </div>
    <div class="chartwrapper">
        <canvas id="chart{{ item.typeid }}"></canvas>
    </div>
</div>
